@import '~node_modules/modern-normalize/modern-normalize.css';

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}