@import '~node_modules/modern-normalize/modern-normalize.css';

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}


button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

:root {
    --primary-font: 'Poppins', sans-serif;
    --primary-accent-color: #7E8FDD;
    --primary-hover-accent-color: #6E7FCF;
    --secondary-accent-color: #9CDFDF;
    --bg-abc-btn-color: rgba(126, 143, 221, 0.40);
    --transition-btn: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* --LIGHT THEME-- */
    --primary-text-color-theme-light: #242424;
    --modal-first-text-color-theme-light: rgba(36, 36, 36, 0.50);
    --modal-second-text-color-theme-light: rgba(36, 36, 36, 0.80);
    --bg-card-color-theme-light: #FDFDFF;
    --bg-modal-color-theme-light: #F8F9FF;
    --modal-btn-color-theme-light: rgba(36, 36, 36, 0.10);
    --hover-modal-btn-color-theme-light: rgba(36, 36, 36, 0.20);
    /* --DARK THEME-- */
    --primary-text-color-theme-dark: #FDFDFF;
    --modal-first-text-color-theme-dark: rgba(253, 253, 255, 0.99);
    --modal-second-text-color-theme-dark: rgba(253, 253, 255, 0.50);
    --modal-third-text-color-theme-dark: rgba(253, 253, 255, 0.80);
    --bg-card-modal-color-theme-dark: #232330;
    --modal-btn-color-theme-dark: rgba(253, 253, 255, 0.10);
    --hover-modal-btn-color-theme-dark: rgba(253, 253, 255, 0.20);
}

body {
  font-family: var(--primary-font);
  background-size: cover;
}

@media screen and (max-width: 374px) {
  body {
    background-image: url('../img/background/background.png');
  }
}

@media screen and (max-width: 767px) {
  body {
      background-image: url('../img/background/background.png');
  
      &.body-dark-theme {
        background-image: url('../img/background/background-dark.png');
      }
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-image: url('../img/background/background-tablet.png');

    &.body-dark-theme {
      background-image: url('../img/background/background-tablet-dark.png');
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-image: url('../img/background/background-desktop.png');

    &.body-dark-theme {
      background-image: url('../img/background/background-desktop-dark.png');}
  }
}