.footer {
  background-color: var(--primary-accent-color);
  margin-top: 40px;
}
.footer-section {
  max-width: 375px;
  height: 186px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}
.footer-container {
  display: flex;
  padding-top: 40px;
  padding-right: 115px;
}
.footer-logo {
  display: flex;
  color: var(--bg-card-color-theme-light);
  height: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13em;
  letter-spacing: -0.16px;
  gap: 4px;
  text-transform: uppercase;
}
.footer-logo-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer-section-social-link {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 40px;
  margin: 0 auto;
}
.footer-title {
  color: var(--bg-card-color-theme-light);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28em;
  text-transform: uppercase;
}
.footer-social-link {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.footer-social-icon {
  stroke-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: rgba(253, 253, 255, 0.5);
}
@media screen and (min-width: 320px) and (max-width: 375px) {
    .footer-section {
      width: 100%;
    }
    .footer-container {
      display: flex;
      padding-top: 40px;
      padding-right: 75px;
    }
  } 
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer {
    margin-top: 50px;
  }

  .footer-section {
    max-width: 768px;
    height: 183px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-container {
    padding-top: 32px;
    padding-right: 418px;
  }
  .footer-logo {
    letter-spacing: -0.22px;
    height: 25px;
    font-size: 22px;
    line-height: 1.09em;
    gap: 8px;
  }
  .footer-logo-icon {
    width: 29px;
    height: 25px;
  }
  .footer-section-social-link {
    padding-top: 32px;
  }
  .footer-title {
    line-height: 1.1em;
  }
  .footer-social-link {
    gap: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-section {
    max-width: 1280px;
    height: 191px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .footer-container {
    padding-left: 36px;
    padding-top: 40px;
    padding-right: 794px;
  }
  .footer-section-social-link {
    padding-right: 36px;
    padding-top: 40px;
  }
}
