
body.dark .hero-dark {
    color: var( --primary-text-color-theme-dark);
}

body.dark .hero-dark-icon {
    fill: var(--primary-text-color-theme-dark);
    stroke: var(--primary-text-color-theme-dark);
}

body.dark .hero-dark-placeholder::placeholder {
    color: var(--hover-modal-btn-color-theme-dark)
}

body.dark .hero-form-input {
    color: var(--primary-text-color-theme-dark);
}

.hero-btn-link {
    color: var(--primary-text-color-theme-dark)
}

.is-hidden-hero {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: auto;
}

.hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 33px;
}

.hero-text-container {
    padding-bottom: 20px;
}

.main-hero-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.19;
    color: var( --primary-text-color-theme-light);
    margin-bottom: 18px;
}

.hero-title-accent {
    font-style: italic;
    color: var(--primary-accent-color);
}

.hero-description {
    max-width: 335px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var( --primary-text-color-theme-light);
    margin-bottom: 36px;
}

.btn-hero {
    display: block;
    min-width: 178px;
    padding: 14px 28px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    background-color: var(--primary-accent-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: var( --primary-text-color-theme-dark);
}

.btn-hero:hover {
    background-color: var(--primary-hover-accent-color);
    transition: var(--transition-btn);
    animation: pulse;
    animation-duration: 1000ms;
    animation-delay: 700ms;
    
}

.hero-img-container {
    position: relative;
}

.input-search-icon {
    fill: var(--primary-text-color-theme-light);
    stroke: var(--primary-text-color-theme-light);
}

.hero-abc-description {
    position: absolute;
    left: 24%;
    top: 86%;
    content: '';
    max-width: 173px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: var( --primary-text-color-theme-light);
}

.hero-input-container {
    position: relative;
    margin-top: 40px;
}

.hero-form-input{
    display: block;
    margin: auto;
    width: 100%;
    padding: 12px 8px 12px 42px;
    border-radius: 80px;
    border: 2px solid var(--primary-accent-color);
    color: var(--primary-text-color-theme-light);
    background-color: transparent;
    outline: transparent;
}

.hero-form-input::placeholder {
    font-size: 14px;
    line-height: normal;
    color: var(--hover-modal-btn-color-theme-light)
}

.input-search-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    content: '';
    transform: translateY(-50%);
    fill: var(--primary-text-color-theme-light);
    cursor: pointer;
}

.error-img-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.hero-error-img {
    align-items: center;
}

.hero-error-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
    width: 244px;
    color: var(--primary-text-color-theme-light);
}

.hero-text-accent {
    color: var(--secondary-accent-color);
    font-style: italic;
}

@media screen and (max-width: 767px){
    .hero-img {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 0 32px;
    }
    .hero-wrapper {
        flex-direction: row;
        padding-bottom: 100px;
    }
    .hero-input-container {
        margin-top: 50px;
    }
    .hero-text-container {
        padding: 124px 0 137px;
    }
    .hero-img-container {
        position: absolute;
        left: 331px;
        content: '';
        margin-bottom: 0;
    }
    .main-hero-title {
        font-size: 44px;
        line-height: 1.09;
        margin-bottom: 24px;
    }
    .hero-description {
        max-width: 338px;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 48px;
    }
    .btn-hero {
        min-width: 245px;
        padding: 22px 44px;
        border: none;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.36px;
    }
    .hero-abc-description {
        position: absolute;
        top: 546px;
        left: 131px;
        min-width: 198px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-transform: uppercase;
    }
    .hero-form-input{
        max-width: 300px;
    }
    .input-search-icon {
        left: 31%;
    }
    .error-img-container {
        gap: 40px;
        padding-top: 50px;
    }
    .hero-error-text {
        font-size: 24px;
        line-height: 1.17;
        width: 370px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        padding-left: 100px;
        padding-right: 100px;
    }
    .hero-img-container {
        position: absolute;
        left: 611px;
        content: '';
    }
    .hero-text-container {
        padding: 134px 0 125px;
    }
    .main-hero-title {
        font-size: 64px;
        line-height: 1.09;
        margin-bottom: 28px;
    }
    .hero-description {
        max-width: 478px;
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 56px;
    }
    .hero-abc-description {
        top: 625px;
        left: 170px;
        min-width: 219px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.36px;
    }
    .input-search-icon {
        left: 38%;
    }
    .error-img-container {
        padding-bottom: 150px;
    }
}