<footer class="footer">
  <div class="footer-section">
    <div class="footer-container">
      <a href="./index.html" class="link footer-logo">
        Drinkify
        <svg
          class="footer-logo-icon"
          aria-label="icon logo"
          width="21"
          height="18"
        >
          <use href="./img/icons.svg#icon-cocktail"></use>
        </svg>
      </a>
    </div>
    <div class="footer-section-social-link">
      <p class="footer-title">We in social</p>
      <ul class="footer-social-link">
        <li class="list footer-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="link footer-link"
            target="_blank"
          >
            <svg
              class="footer-social-icon"
              aria-label="icon facebook"
              width="32"
              height="32"
            >
              <use href="./img/icons.svg#icon-u_facebook-f"></use>
            </svg>
          </a>
        </li>
        <li class="list footer-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="link footer-link"
            target="_blank"
          >
            <svg
              class="footer-social-icon"
              aria-label="icon instagram"
              width="32"
              height="32"
            >
              <use href="./img/icons.svg#icon-u_instagram"></use>
            </svg>
          </a>
        </li>
        <li class="list footer-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="link footer-link"
            target="_blank"
          >
            <svg
              class="footer-social-icon"
              aria-label="icon youtube"
              width="32"
              height="32"
            >
              <use href="./img/icons.svg#icon-u_instagram-2"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
