<section class="hero container">
    <div class="hero-wrapper">
        <div class="hero-text-container">
            <h1 class="main-hero-title hero-dark">A party without<span class="hero-title-accent"><br>cocktails<br></span>is not
                like a party</h1>
            <p class="hero-description hero-dark">From classic sips to exotic mixes, we're your key to becoming a cocktail wizard!
            </p>
            <button type="button" class="btn-hero" onclick="document.location='#cocktails'">View cocktails</button>
        </div>
        <div class="hero-img-container">
            <picture>
              <source media="(min-width: 1280px)"
              type="image/webp"
              srcset="./img/hero/hero-img-desktop.webp 1x,
              ./img/hero/hero-img-desktop@2x.webp 2x">

              <source media="(min-width: 1280px)"
              type="image/png"
              srcset="./img/hero/hero-img-desktop.png 1x,
              ./img/hero/hero-img-desktop@2x.png 2x" >

              <source media="(min-width: 768px)"
              type="image/webp"
              srcset="./img/hero/hero-img-tablet.webp 1x,
              ./img/hero/hero-img-tablet@2x.webp 2x" >

              <source media="(min-width: 768px)"
              type="image/png"
              srcset="./img/hero/hero-img-tablet.png 1x,
              ./img/hero/hero-img-tablet@2x.png 2x" >

              <source media="(min-width: 320px)"
              type="image/webp"
              srcset="./img/hero/hero-img-mobile.webp 1x,
              ./img/hero/hero-img-mobile@2x.webp 2x" >

              <source media="(min-width: 320px)"
              type="image/png"
              srcset="./img/hero/hero-img-mobile.png 1x,
              ./img/hero/hero-img-mobile@2x.png 2x" >

              <img loading="lazy" class="hero-img"
              src="./img/hero/hero-img-mobile.png" alt="Girl with a  cocktail">
            </picture>

            <div class="hero-dark is-hidden-hero">
              <picture>
                <source media="(min-width: 1280px)"
                type="image/webp"
                srcset="./img/hero/hero-img-desktop-dark.webp 1x,
                ./img/hero/hero-img-desktop-dark@2x.webp 2x">
  
                <source media="(min-width: 1280px)"
                type="image/png"
                srcset="./img/hero/hero-img-desktop-dark.png 1x,
                ./img/hero/hero-img-desktop-dark@2x.png 2x" >
  
                <source media="(min-width: 768px)"
                type="image/webp"
                srcset="./img/hero/hero-img-tablet-dark.webp 1x,
                ./img/hero/hero-img-tablet-dark@2x.webp 2x" >
  
                <source media="(min-width: 768px)"
                type="image/png"
                srcset="./img/hero/hero-img-tablet-dark.png 1x,
                ./img/hero/hero-img-tablet-dark@2x.png 2x" >
  
                <source media="(min-width: 320px)"
                type="image/webp"
                srcset="./img/hero/hero-img-mobile-dark.webp 1x,
                ./img/hero/hero-img-mobile-dark@2x.webp 2x" >
  
                <source media="(min-width: 320px)"
                type="image/png"
                srcset="./img/hero/hero-img-mobile-dark.png 1x,
                ./img/hero/hero-img-mobile-dark@2x.png 2x" >
  
                <img loading="lazy" class="hero-img"
                src="./img/hero/hero-img-mobile-dark.png" alt="Girl with a  cocktail">
              </picture>
            </div>

            <p class="hero-abc-description hero-dark">Search your favorite cocktail by ABC</p>
        </div>
        </div>

        <ul class="btn-abc btn-abc-js"></ul>

        <form class="hero-search-form">
              <div class="hero-input-container">
                <input id="search" class="hero-form-input" name="data-search" type="search" placeholder="Search" autocomplete="off">
              <svg class="input-search-icon" aria-label="search" width="16" height="16">
              <use href="./img/hero/search.svg#icon-search"></use>
            </svg>
              </div>
         </form>

         <div class="hero-search-cards"></div>
</section>