<section class="hero container">
  <div class="hero-wrapper">
    <div class="hero-text-container">
      <h1 class="main-hero-title hero-dark">
        A party without<span class="hero-title-accent"
          ><br />cocktails<br /></span
        >is not like a party
      </h1>
      <p class="hero-description hero-dark">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
      <button
        type="button"
        class="btn-hero"
      >
      <a class="hero-btn-link link" href="#cocktails">View cocktails</a>
      </button>
    </div>
    <div class="hero-img-container">
      <picture class="picture-hero-light">
        <source
          media="(min-width: 1280px)"
          type="image/webp"
          srcset="
            ./img/hero/hero-img-desktop.webp    1x,
            ./img/hero/hero-img-desktop@2x.webp 2x
          "
        />

        <source
          media="(min-width: 1280px)"
          type="image/png"
          srcset="
            ./img/hero/hero-img-desktop.png    1x,
            ./img/hero/hero-img-desktop@2x.png 2x
          "
        />

        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/hero/hero-img-tablet.webp    1x,
            ./img/hero/hero-img-tablet@2x.webp 2x
          "
        />

        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./img/hero/hero-img-tablet.png    1x,
            ./img/hero/hero-img-tablet@2x.png 2x
          "
        />

        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/hero/hero-img-mobile.webp    1x,
            ./img/hero/hero-img-mobile@2x.webp 2x
          "
        />

        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="
            ./img/hero/hero-img-mobile.png    1x,
            ./img/hero/hero-img-mobile@2x.png 2x
          "
        />

        <img
          class="hero-img"
          src="./img/hero/hero-img-mobile.png"
          alt="Girl with a  cocktail"
        />
      </picture>

      <picture class="picture-hero-dark is-hidden-hero">
        <source
          media="(min-width: 1280px)"
          type="image/webp"
          srcset="
            ./img/hero/hero-img-desktop-dark.webp    1x,
            ./img/hero/hero-img-desktop-dark@2x.webp 2x
          "
        />

        <source
          media="(min-width: 1280px)"
          type="image/png"
          srcset="
            ./img/hero/hero-img-desktop-dark.png    1x,
            ./img/hero/hero-img-desktop-dark@2x.png 2x
          "
        />

        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/hero/hero-img-tablet-dark.webp    1x,
            ./img/hero/hero-img-tablet-dark@2x.webp 2x
          "
        />

        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./img/hero/hero-img-tablet-dark.png    1x,
            ./img/hero/hero-img-tablet-dark@2x.png 2x
          "
        />

        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/hero/hero-img-mobile-dark.webp    1x,
            ./img/hero/hero-img-mobile-dark@2x.webp 2x
          "
        />

        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="
            ./img/hero/hero-img-mobile-dark.png    1x,
            ./img/hero/hero-img-mobile-dark@2x.png 2x
          "
        />

        <img
          class="hero-img"
          src="./img/hero/hero-img-mobile-dark.png"
          alt="Girl with a  cocktail"
        />
      </picture>
      <p class="hero-abc-description hero-dark">
        Search your favorite cocktail by ABC
      </p>
    </div>
  </div>

  <div>
    <div class="button-search-wrapper button-search-wrapper-js">
      <div class="button-search button-search-js">
        <span class="button-search-span-js">A</span>
        <svg class="icon">
          <use href="./img/icons.svg#icon-chevron-down"></use>
        </svg>
      </div>
      <div class="button-search-dropdown hidden button-dropdown-js">
        <div class="buttons-list button-list-js"></div>
      </div>
    </div>
  </div>

  <form class="hero-search-form">
    <div class="hero-input-container">
      <input
        class="hero-form-input hero-dark-placeholder"
        name="search"
        type="text"
        placeholder="Search"
        autocomplete="off"
      />
      <svg class="input-search-icon hero-dark-icon" aria-label="search" width="16" height="16">
        <use href="./img/icons.svg#icon-search"></use>
      </svg>
    </div>
  </form>

  <!-- <div class="main" id="section2">
    <a href="#section1">Cocktails</a>
  </div> -->
  <h2 id="cocktails">Cocktails</h2>
  <ul class="hero-search-cards"></ul>
</section>
