<section class="hero container">
    <div class="hero-wrapper">
        <div class="hero-text-container">
            <h1 class="main-hero-title hero-dark">A party without<span class="hero-title-accent"><br>cocktails<br></span>is not
                like a party</h1>
            <p class="hero-description hero-dark">From classic sips to exotic mixes, we're your key to becoming a cocktail wizard!
            </p>
            <button type="button" class="btn-hero" onclick="document.location='#cocktails'">View cocktails</button>
        </div>
        <div class="hero-img-container">
            <picture>
                <source media="(min-width: 1280px)"
                srcset="./images/hero/hero-img-desktop.png 1x,
                ./images/hero/hero-img-desktop@2x.png 2x" >
                <source media="(min-width: 768px)"
                srcset="./images/hero/hero-img-tablet.png 1x,
                ./images/hero/hero-img-tablet@2x.png 2x" >
                <source media="(min-width: 320px)"
                srcset="./images/hero/hero-img-mobile.png 1x,
                ./images/hero/hero-img-mobile@2x.png 2x" >
                <img loading="lazy" class="hero-img"
            src="./images/hero/hero-img-mobile.png" alt="Girl with a  cocktail">
            </picture>
            <p class="hero-abc-description hero-dark">Search your favorite cocktail by ABC</p>
        </div>
        </div>

        <ul class="btn-abc btn-abc-js"></ul>

        <form class="hero-search-form">
            <label class="hero-form-field">
              <div class="hero-input-container">
                <input id="data-search" class="hero-form-input" name="data-search" type="text" placeholder="Search">
              <svg class="input-search-icon" aria-label="search" width="16" height="16">
              <use href="./images/hero/search.svg#icon-search"></use>
            </svg>
              </div>
            </label>
            </form>
</section>
